/*
Carlos Henrique Machado
*/

nav {
	top: 0;
}

main {
	padding-top: 200px;
}

#work {
	.info {
		max-width: 900px;
	}

	.info h1 {
		font-size: 3.5rem;
		margin-bottom: 20px;
	}

	.info p {
		font-size: 1.25rem;
	}

	.info p:first-of-type {
		margin-top: 40px;
	}

	.info .status {
		text-decoration: none;
		font-size: 0.8rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 4px 12px;
		background-color: rgba(0, 0, 0, 0.15);
		color: white;
		border-radius: 40px;
	}

	.info a.status:hover {
		background-color: rgba(0, 0, 0, 1);
	}
}

/* Smartphone portrait and landscape
---------------------------------------------------------------- */
@media (max-width: 667px) {
	main {
		padding-top: 150px;
	}
}

/* Smartphone landscape only
---------------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
	main {
		padding-top: 80px;
	}
}